@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="left-section">
        <img src="/images/e&logo.png" alt="Home Image" class="responsive-image">
    </div>
    
    <div class="right-section">
        <h1>Welcome to Operations & Monitoring Control Center</h1>
        <p>Monitor your data efficiently. Perform a professional Operation tasks.</p>
        <button onclick="location.href='/Account/Login'" class="login-button">Sign In</button>
    </div>
    
</div>
